<form>
  <div class="form-group">
    <label for="firstName">Enter Your Name</label>
    <input required minlength="3" maxlength="10" ngModel name="firstName" #firstName="ngModel" (change)="log(firstName)" id="firstName" type="text" class="form-control">


    <div class="alert alert-danger" *ngIf="!firstName.touched && !firstName.valid">

      <div *ngIf="firstName.errors.required">Full Name is required!</div>
      <div *ngIf="firstName.errors.minlength">Full Name is minimum {{firstName.errors.minlength.requiredlength}} characters!</div>

    </div>


    <label for="author">Name Of Author</label><input id="author" type="text" class="form-control">


  </div>


  <div class="form-group">
    <label for="quotecomment">Enter Your Favourite Pineapple Quote</label>
    <textarea ngModel name="quotecomment" id="quotecomment" cols="60" rows="10" class="form-control">
    </textarea>
  </div>
  <button class="btn btn-primary">Submit Your Quote So That Users Can Vote!</button>


</form>