#pineapple1 {
  color: black;
  font-family: 'Arapey', serif;
}

#pineapple2 {
  color: black;
  font-family: 'Arapey', serif;
}

#pineapple3 {
  color: black;
  font-family: 'Arapey', serif;
}

#pineapple4 {
  color: black;
  font-family: 'Arapey', serif;
}

#pineapple5 {
  color: black;
  font-family: 'Arapey', serif;
}