<nav class="navbar navbar-dark bg-warning mb-5 fixed-top">
  <a class="navbar-brand text-dark" id="pineapple1" href="/">Pineapple Quotes</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active text-dark" id="pineapple2" href="#">Home</a>
      <a class="nav-item nav-link text-dark" id="pineapple3" href="#">About Pineapples</a>
      <a class="nav-item nav-link text-dark" id="pineapple4" href="#">Contact A Pineapple Quote Author</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link text-dark" href="https://github.com/melisamalala" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link text-dark" href="https://twitter.com/melisamalala" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
      <a class="nav-item nav-link text-dark" href="https://instagram.com/melissamalala" target="_blank">
        <i class="fa fa-instagram"></i>
      </a>
    </div>
  </div>
</nav>