<app-layout>
  <div class="jumbotron text-center" id="top">
    <h1>So Like... What Is A Pineapple Quote?</h1>
    <p>
      To put it simply, a <strong>pineapple quote</strong> is a phrase or saying that references the best fruit in the world, that is, the pineapple!(<strong>Ananas comosus</strong>) is a tropical plant with an edible multiple fruit consisting of coalesced
      berries and the most economically significant plant in the family Bromeliaceae. <br>Pineapples may be cultivated from the offset and produced at the top of the fruit possibly flowering in 5 to 10 months and fruiting in the following 6 months. Pineapples
      do not ripen significantly after harvest.<br> In 2016, Costa Rica, Brazil, and the Philippines accounted for nearly one-third of the world's production of pineapples!
    </p>
  </div>
</app-layout>

<div class="jumbotron" id="header">

  <div style="text-align:center">
    <h1>
  Pineapple {{ title }} ! <br>
    Pineapple Quote Of The Day:<br> Be a Pineapple: Stand tall, Wear a crown, and be sweet on the inside!
  </h1>
    <img width="300" alt="Quotes" src="assets/quotespinewow1.jpg">
  </div>
</div>

<div style="text-align:center" class="jumbotron" id="middle">

  <h2>Here are some links to quotes about pineapples: </h2>
  <ul>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://www.pinterest.co.uk/pineappleperday/pineapple-quotes/?lp=true">Quotes About Pineapples</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="https://www.goodreads.com/quotes/tag/pineapples">More Quotes About Pineapples</a></h2>
    </li>
    <li>
      <h2><a target="_blank" rel="noopener" href="http://www.quotesfrenzy.com/pineapple-quotes-and-sayings/">Even More Quotes About Pineapples</a></h2>
    </li>
  </ul>
</div>

<div style="text-align:center" class="jumbotron" id="formofapp">
  <app-quotesform></app-quotesform>
</div>

<div style="text-align:center" class="jumbotron text-center" id="footer">
  <p>Made By Melissa Malala | 2018 <br> Moringa School</p>
</div>


<div class="jumbotron" id="votingquotecards">

  <app-quote-details></app-quote-details>

</div>



<div style="text-align:center" class="jumbotron" id="bodyofappquote">
  <app-quote></app-quote>
</div>