#middle {
  background-color: #ffd700;
  color: black;
}

#formofapp {
  background-color: #ffd700;
  color: black;
}

#footer {
  background-color: #ffd700;
  color: black;
}

#header {
  background-color: #ffd700;
  color: black;
}

#top {
  background-color: #ffd700;
  color: black;
}