#middle {
  background-color: #ffd700;
  color: black;
  font-family: 'Arapey', serif;
}

#formofapp {
  background-color: #ffd700;
  color: black;
  font-family: 'Arapey', serif;
}

#footer {
  background-color: #ffd700;
  color: black;
  font-family: 'Arapey', serif;
}

#header {
  background-color: #ffd700;
  color: black;
  font-family: 'Arapey', serif;
}

#top {
  background-color: #ffd700;
  color: black;
  font-family: 'Arapey', serif;
}

#bodyofappquote {
  background-color: #ffd700;
}

#votingquotecards {
  background-color: #ffd700;
  text-align: center;
  color: black;
  font-family: 'Arapey', serif;
}