<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  A Page On {{ title }} <br>
    Quote Of The Day:<br> Life begins where fear ends.
  </h1>
  <img width="300" alt="Quotes" src="assets/quotesapp.jpg">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="http://wisdomquotes.com/life-quotes/">Quotes About Life</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="http://www.laughteronlineuniversity.com/120-quotes-laughter-throughout-history/">Quotes About Laughter </a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://www.brainyquote.com/topics/love/">Quotes About Love</a></h2>
  </li>
</ul>


<app-quotesform></app-quotesform>