<h3>Vote On These Pineapple Quotes</h3>


<h2>"Be a pineapple; every other fruit is already taken."</h2>
<div>
  <p>{{numberOfLikes}}</p>
  <button class="btn btn-success" (click)="likeButtonClick()">Like</button>
  <button class="btn btn-danger" (click)="dislikeButtonClick()">Dislike</button>
</div>
<h2>But a pineapple is not made for defeat. A pineapple can be destroyed but not defeated.</h2>
<div>
  <p>{{numberOfLikes}}</p>
  <button class="btn btn-success" (click)="likeButtonClick()">Like</button>
  <button class="btn btn-danger" (click)="dislikeButtonClick()">Dislike</button>
</div>

<h2>Do not mind anything that anyone tells you about pineapples. Judge every pineapple for yourself.</h2>
<div>
  <p>{{numberOfLikes}}</p>
  <button class="btn btn-success" (click)="likeButtonClick()">Like</button>
  <button class="btn btn-danger" (click)="dislikeButtonClick()">Dislike</button>
</div>
<h2>Never judge a pineapple by its cover.</h2>
<div>
  <p>{{numberOfLikes}}</p>
  <button class="btn btn-success" (click)="likeButtonClick()">Like</button>
  <button class="btn btn-danger" (click)="dislikeButtonClick()">Dislike</button>
</div>


<h2>Learning never exhausts the pineapple.</h2>
<div>
  <p>{{numberOfLikes}}</p>
  <button class="btn btn-success" (click)="likeButtonClick()">Like</button>
  <button class="btn btn-danger" (click)="dislikeButtonClick()">Dislike</button>
</div>


<h2>Keep your pineapples always toward the sunshine - and shadows will fall behind you.</h2>
<div>
  <p>{{numberOfLikes}}</p>
  <button class="btn btn-success" (click)="likeButtonClick()">Like</button>
  <button class="btn btn-danger" (click)="dislikeButtonClick()">Dislike</button>
</div>