/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Arapey');
body {
  padding: 0px;
}

#mainbody {
  background-color: yellow;
  background-image: url(../src/assets/pineapplegif.gif);
  opacity: 0.8;
  padding: 150px;
  height: 100%;
  width: 100%;
}